
body{
    margin:0;
    background-color:aliceblue;
    font-size: 1em;
}

.header{
    border-bottom: .1em solid rgb(68, 68, 68);
    height: 5vh;
    width:100%;
    align-content: space-between;
}

.alias{
    margin:auto;
    font-size: 1.4em;
    margin-right:7vw;
    margin-left: 2vw;
    font-weight: bold;
    text-align: center;
    text-justify: center;
}

.navigation{
    margin-top: 0%;
    margin-bottom: 0%;
    justify-items: space-around;
    align-items: center;
    height:100%;
    width:100%;
}

.nav-button{
    background: none;
    border: none;
    color: rgb(105, 105, 105);
    height: 7vh;
    width:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-button:hover{
    color:black;
    font-weight: bold;
}

.banner{
    align-content: center;
    justify-content: space-around;
    background: linear-gradient(rgba(249, 0, 191, .7), rgba(71, 0, 216, .7)), url("../images/graph-map.svg") no-repeat left, black;
    background-size: 80%;
    height:25vh;
    width: auto;
    color:white;
}

.photo{
    height:20vh;
    width:auto;
    border-radius: 50px 0px 50px 0px;
    border: 3pt solid rgba(137, 43, 226, 0.3);
    margin:auto;
    margin-left:0;
    margin-right:0;
}
.button1{
    margin-right:1vw;
    margin-bottom:3vh;
    border: .15em solid;
    border-radius:15px;
    height:4vh;
    width:auto;
}

.button2{
    margin-right:1vw;
    margin-bottom:3vh;
    border: .15em solid;
    border-radius:15px;
    height:4vh;
    width:auto;
}

.name-skill{
    justify-content: center;
}

.name-skill>:nth-child(1){
    height:13vh;
}

.name-skill>:nth-child(2){
    color:white;
    font-size:1.7em;
}

h1{
    font-size:2.4em;
    margin-top: 3vh;
}


h2{
    margin: 0;
    padding:0;
}

h3{
    margin: 0;
    margin-bottom: 2vh;
    font-size: 1em;
}

.clipart{
    height: 15vh;
    width: auto;
    margin-left:1vw;
    margin-right:1vw;

}

.about{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.aboutVbox{
    border-radius: 25px;
    box-sizing: border-box;
    width:100%;
}

.aboutVbox *{
    padding-left: 2vw;
    padding-right: 2vw;
}

.aboutVbox>:first-child{
    padding-top:2vh;
    padding-bottom: 0;
} 

.aboutVbox>:last-child{
    padding-top:0;
    padding-bottom: 2vh;
} 

p{
    margin-bottom:0;
    margin-top:0;
}

.service-pane{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    align-content: space-around;
    justify-content: space-around;
    text-align: center;
    row-gap: 2vh;
    margin-left: 2vw;
    margin-right:2vw;
}

.service-icon{
    height: 8vh;
    width:auto;
    margin-left: 7vw;
}

.divider{
    height:3vh;
}

#about2{
   background-color: rgb(217, 217, 251);
}

.divider-alt{
    height: 3vh;
    background-color: rgb(217, 217, 251);
}

label{
    font-size: larger;
}

footer{
    background-color: rgba(91, 33, 207, 0.9);
    color: white;
    padding: 2vw 2vh;
    font-size: 1pt;
}

.social{
    padding:0;
    padding-right:1vw;
    padding-left: 0;
    height:5vh;
    width:auto;
}

.br-footer{
    display:block;
    margin:0;
}


.hbox{
    display:flex;
    flex-direction: row;
    margin:0%;
    padding:0%;
}

.vbox{
    display:flex;
    flex-direction: column;
    margin:0%;
    padding:0%;
}

.pdf{
    margin: 0;
    margin-left: 5%;
    margin-right:5%;
    height:50vh;
    width:90%;
    
    display:block;
}

.footer-bee{
    height:6vh; 
    margin-top:2vh;
    margin-right:0;
    margin-left: 25vw;
}

.credits{
    align-content: right;
}

/*credentials.html*/
.prof-logo{
    height:10vh;
    width:auto;
    margin:1vh;
}

.proficiencies{
    display:grid;
    grid-template-areas: 'a a a'
                         '. . .'
                         '. . .'
                         '. . .'
                         'b b b';
    height:fit-content;
    justify-content: space-around;
    align-content: center;
    margin: 3vh 3vw;
}

/*connect.html*/
.content, .content-alt{
    width:100%;
    height:100%;
}

.content h1, .content-alt h1{
    text-align: center;
    margin-top:0;
    padding-top: 0;
    padding-bottom: 1vh;
    font-size: 1.8em;
    text-decoration: underline;
}

.info-flex{
    flex-direction: column;
}

.contact-box{
    background: linear-gradient(rgba(249, 0, 191, .7), rgba(71, 0, 216, .7));
    border-radius: 25px;
    padding: 3vh;
    align-content: center;
    height:fit-content;
    width:75%;
    font-size: 1em;
    margin-bottom:5vh;
}

.contact-box li{
    font-size:1em;
}

.contact-box p{
    font-size: 1em;
    text-align: center;
}

.happy-bee{
    height: 20vh;
    width:auto;
}

.social2{
    height:8vh;
    width:auto;
}

/*projects.html and iqp.html*/
.project-pane{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:auto;
}

.project-info{
    height:100%;
    width:auto;
    margin:auto;
    text-align: center;
    padding-bottom:2vh;
}

.project-info h3{
    font-size:0.7em;
    margin:0;
    margin-bottom:1vh;
}

.project-img{
    height:15vh;
    width:auto;
    border-radius: 25px;
    margin:auto;
}

.project-img:hover{
    outline: rgba(137, 43, 226, 0.3) .5em solid;
}

.slideshow{
    align-content: center;
    justify-content: center;
}

.slide{
    height:20vh;
    width:auto;
}

.expVbox *{
    width:auto;
    padding-left: 2vw;
    padding-right: 2vw;
}

.right-arrow, .left-arrow{
    width:4vw;
    background: rgba(226, 226, 226, 0.5);
    border: none;
}

.right-arrow:hover, .left-arrow:hover{
    background: rgba(226, 226, 226, 1);
}

.title-p{
    text-align: center; 
    font-size: 2.4em; 
    font-weight: bold; 
    margin-top:3vh; 
    margin-bottom:3vh; 
    text-decoration-line: underline;
}

.slide-and-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slide-and-content .vbox{
    width:auto;
    margin-left: 1vw;
    margin-right: 1vw;
}

.bordered-img{
    height:15vh;
    width:auto;
    margin:auto;
}