
body{
    margin:0;
    background-color:aliceblue;
}

.header{
    border-bottom: .1em solid rgb(68, 68, 68);
    height: 10vh;
    width:100%;
}

.alias{
    margin:0%;
    font-size: 0.9em;
    font-weight: bold;
    margin-right:5vw;
    margin-left:3vw;
    margin-top:auto;
    margin-bottom:auto;
    text-align: center;
    text-justify: center;
}

.navigation{
    margin-top: 0%;
    margin-bottom: 0%;
    justify-items: space-around;
    align-items: center;
    width:100%;
}

.nav-button{
    width:100%;
    background: none;
    border: none;
    color: rgb(105, 105, 105);
    height: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
}

.nav-button:hover{
    color:black;
    font-weight: bold;
}

.banner{
    align-content: center;
    justify-content: space-around;
    background: linear-gradient(rgba(249, 0, 191, .7), rgba(71, 0, 216, .7)), url("../images/graph-map.svg") no-repeat left, black;
    background-size: auto;
    height:30vh;
    color:white;
}

.photo{
    height:25vh;
    width:auto;
    border-radius: 25px 0px 25px 0px;
    border: .3em solid rgba(137, 43, 226, 0.3);
    margin:auto;
    margin-left:0;
    margin-right:1vw;
}

.name-skill{
    justify-content: center;
}

.name-skill>:nth-child(1){
    height:13vh;
}

.name-skill>:nth-child(2){
    color:white;
    font-size:1.1em;
    line-height: 1.1em;
}

.button1, .button2{
    margin-right:1vw;
    border: .15em solid;
    border-radius:10px;
    height:7vh;
    width:auto;
    font-size: 0.7em;
}

.button1{
    border-color:rgb(249, 0, 191);
    background: rgba(249, 0, 191, .2);
    color:rgb(249, 0, 191);
}

.button2{
    border-color:rgb(191, 0, 255);
    background-color: rgba(191, 0, 255, .2);
    color:rgb(191, 0, 255);
}

h1{
    margin: 0;
    padding:0;
    font-size:2.5em;
    line-height: 2.5em;
}


h2{
    margin: 0;
    padding:0;
}

h3{
    margin: 0;
    padding:0;
    font-size: 0.9em;
    color:rgb(191, 0, 255);
}

.clipart{
    width: 33vw;
    height:auto;
    grid-area: a;
    margin:auto;

}

.about{
    display:grid !important;
    grid-template-areas: '.' 'a';
    justify-content: center;
    align-content: center;
    margin-bottom: 10vh;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

.aboutVbox{
    border-radius: 25px;
    box-sizing: border-box;
    width:100%;
}

.aboutVbox>:first-child{
    padding-top:2vh;
    padding-bottom: 0;
} 

.aboutVbox>:last-child{
    padding-top:0;
    padding-bottom: 2vh;
} 

p{
    margin-bottom:0;
    margin-top:0;
}

.service-pane{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    font-size: 0.7em;
}

.service-icon{
    width: 20vw;
    height:auto;
    margin:auto;
}

.divider{
    height:10vh;
}

#about2{
   background-color: rgb(217, 217, 251);
}

.divider-alt{
    height: 10vh;
    background-color: rgb(217, 217, 251);
}

label{
    font-size: larger;
}

footer{
    background-color: rgba(91, 33, 207, 0.9);
    color: white;
    padding: 2vw 2vh;
    font-size:0.8em;
}

.social{
    padding:0;
    padding-right:1vw;
    padding-left: 0;
    width:10vw;
    height:auto;
}


.hbox{
    display:flex;
    flex-direction: row;
    margin:0%;
    padding:0%;
}

.vbox{
    display:flex;
    flex-direction: column;
    margin:0%;
    padding:0%;
}

.pdf{
    margin: 0;
    width:100%;
    height:100vh;
    display:block;
}

.credits{
    font-size: 0.7em;
}